<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="stylesheet" href="css/style.css">
    
</head>
<body>
    
    {{>header}}

   <h2>Check Weather Here</h2>

   <div>
       {{!-- <form id="frm"> --}}
           <input type="text" placeholder="Enter address">
           <br><br>
           <button id="btn">Show Weather</button>
       {{!-- </form> --}}
       <h4 id="result"></h4>
   </div>
        {{>footer}}
    
</body>
<script src="js/index.js"></script>
</html>
